html {
  background-color: var(--color-primary-light);
}

.sub-navigation a {
  color: #fff;
}

.sub-navigation a:focus,
.sub-navigation a:active {
  color: var(--color-primary);
}

.sub-navigation a:hover {
  color: var(--color-primary);
}

.sub-navigation h6 {
  color: #fff;
}

.sub-navigation,
.sub-nav-narrow {
  display: none;
}

@media only screen and (min-width: 60em) {

  .sub-navigation {
    display: block;
    max-width: 15%;
  }

  .sub-nav-narrow {
    display: none;
  }

  .sub-navigation li {
    line-height: 1.3em;
  }
}

.current {
  font-style: italic;
}

@media only screen and (min-width: 90em) {

  .sub-navigation {
    display: block;
    max-width: 20%;
  }

  .sub-navigation li {
    line-height: 1.5em;
  }

  .sub-navigation ul {
    margin-left: .5em;
  }

  .sub-nav-narrow {
    display: block;
    max-width: 12%;
  }

  .sub-nav-narrow ul {
    margin-left: 0;
  }

}
