.dog-card {
  max-width: 500px;
  border-radius: 15px 0px 15px 0px;
  background-color: var(--color-neutral-light);
}

.sm-right {
  text-align: right;
}

.dog-card .card {
  background-color: #fff;
  margin: 1em;
  overflow: hidden;
}

.info-card {
  background-color: #fff;
}

.info-card h4{
  border-top: 3px solid var(--color-secondary);
}

.info-card p {
  border-bottom: 3px solid var(--color-secondary);
}

.card-bg {
  background-color: var(--color-primary-light);
}

.dog-card h3 {
  color: #fff;
}
