:root {
  --color-primary: #6dbf71;
  --color-primary-light: #99d29c;
  --colour-secondary: #e2fab6;
  --color-accent: #b65155;
  --color-neutral: #b7b7b7;
  --color-neutral-light: #ccc;
  --font-primary: "Lato", sans-serif;
  --font-secondary: "Vesper Libre", serif;
}

html {
  font-family: var(--font-primary);
}
